extends /blocks/layout-default/layout-default

block head
	- var pageTitle = 'New project';
	- var pageDescription = '';
	- var pageKeywords = '';

block page
	- var pageClasses = ['page--layout-left-right', 'is-visible-right']

block content
	.mdl-layout.mdl-js-layout.mdl-layout--fixed-drawer.mdl-layout--fixed-header
		include ../blocks/page/page__header.jade
		aside.mdl-layout__drawer.mdl-layout__drawer--left
			include ../blocks/page/page__sidebar-list.jade
		.mdl-layout__content
		.mdl-layout__drawer.mdl-layout__drawer--right
			.page__drawer-header
				button.uk-close.page__drawer-close
				.page__drawer-container
					h5 Edit project tags
			.page__drawer-container
				include ../blocks/page/page__edit-tags-form.jade
	button.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--colored.page__floating-button.mdl-js-ripple-effect
		i.mdi.mdi-check
