form.page__drawer-form(action='')
	.page__drawer-form-line
		.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.mdl-textfield--contrast.uk-width-1-1
			input#mdl-input-0-input.mdl-textfield__input(type='text', value='')
			label.mdl-textfield__label(for='mdl-input-0-input') Project name
	section.page__drawer-form-line
		h6 Members
		.swiper-container.swiper-container--members.swiper-container--contrast
			.swiper-wrapper
				.swiper-slide
					.mdl-list.mdl-list--contrast
						.mdl-list__item
							span.mdl-list__item-primary-content
								span.mdl-list__item-avatar(style="background-image:url('assets/images/uploads/avatar.png');")
								| Harold Morton
							label.mdl-icon-toggle.mdl-js-icon-toggle.mdl-js-ripple-effect.mdl-list__item-secondary-action.mdl-icon-toggle--contrast
								input.mdl-icon-toggle__input#icon-toggle-1(type="checkbox", checked)
								i.mdl-icon-toggle__label.mdi.mdi--plus-check
						.mdl-list__item
							span.mdl-list__item-primary-content
								span.mdl-list__item-avatar(style="background-image:url('assets/images/uploads/avatar.png');")
								| Roxie Newman
							label.mdl-icon-toggle.mdl-js-icon-toggle.mdl-js-ripple-effect.mdl-list__item-secondary-action.mdl-icon-toggle--contrast
								input.mdl-icon-toggle__input#icon-toggle-2(type="checkbox", checked)
								i.mdl-icon-toggle__label.mdi.mdi--plus-check
						.mdl-list__item
							span.mdl-list__item-primary-content
								span.mdl-list__item-avatar(style="background-image:url('assets/images/uploads/avatar.png');")
								| Georgia Jenkins
							label.mdl-icon-toggle.mdl-js-icon-toggle.mdl-js-ripple-effect.mdl-list__item-secondary-action.mdl-icon-toggle--contrast
								input.mdl-icon-toggle__input#icon-toggle-3(type="checkbox")
								i.mdl-icon-toggle__label.mdi.mdi--plus-check
						.mdl-list__item
							span.mdl-list__item-primary-content
								span.mdl-list__item-avatar(style="background-image:url('assets/images/uploads/avatar.png');")
								| Frank Snyder
							label.mdl-icon-toggle.mdl-js-icon-toggle.mdl-js-ripple-effect.mdl-list__item-secondary-action.mdl-icon-toggle--contrast
								input.mdl-icon-toggle__input#icon-toggle-4(type="checkbox")
								i.mdl-icon-toggle__label.mdi.mdi--plus-check
						.mdl-list__item
							span.mdl-list__item-primary-content
								span.mdl-list__item-avatar(style="background-image:url('assets/images/uploads/avatar.png');")
								| Sarah Ferguson
							label.mdl-icon-toggle.mdl-js-icon-toggle.mdl-js-ripple-effect.mdl-list__item-secondary-action.mdl-icon-toggle--contrast
								input.mdl-icon-toggle__input#icon-toggle-5(type="checkbox")
								i.mdl-icon-toggle__label.mdi.mdi--plus-check
						.mdl-list__item
							span.mdl-list__item-primary-content
								span.mdl-list__item-avatar(style="background-image:url('assets/images/uploads/avatar.png');")
								| Sarah Ferguson2
							label.mdl-icon-toggle.mdl-js-icon-toggle.mdl-js-ripple-effect.mdl-list__item-secondary-action.mdl-icon-toggle--contrast
								input.mdl-icon-toggle__input#icon-toggle-6(type="checkbox")
								i.mdl-icon-toggle__label.mdi.mdi--plus-check
			.swiper-scrollbar
	.page__drawer-form-line
		.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.mdl-textfield--contrast.uk-width-1-1
			input#mdl-input-1-input.mdl-textfield__input(type='text', value='')
			label.mdl-textfield__label(for='mdl-input-1-input') Invite members
