form.page__drawer-form(action='')
	.page__drawer-form-line
		.page__drawer-form-group
			.uk-grid.page__drawer-grid
				.uk-width-4-6
					.mdl-textfield.mdl-js-textfield.mdl-textfield--contrast.uk-width-1-1
						input#mdl-input-0-1-input.mdl-textfield__input(type='text', value='HTML')
						label.mdl-textfield__label(for='mdl-input-0-1-input') Tag1 name
				.uk-width-2-6
					.mdl-textfield.mdl-js-textfield.mdl-textfield--contrast.uk-width-1-1.mdl-textfield--has-icon
						input#mdl-input-0-2-input.mdl-textfield__input.text-uppercase(type='text', value='#4caf50')
						label.mdl-textfield__label(for='mdl-input-0-2-input') Tag1 color
						span.mdl-textfield__suffix(style="color:#4caf50;")
							i.mdi.mdi-checkbox-blank
			button.mdl-button.mdl-js-button.mdl-button--icon.mdl-js-ripple-effect.page__drawer-form-group-delete.mdl-button--contrast-muted
				i.mdi.mdi-close
		.page__drawer-form-group
			.uk-grid.page__drawer-grid
				.uk-width-4-6
					.mdl-textfield.mdl-js-textfield.mdl-textfield--contrast.uk-width-1-1
						input#mdl-input-1-1-input.mdl-textfield__input(type='text', value='WEB')
						label.mdl-textfield__label(for='mdl-input-1-1-input') Tag2 name
				.uk-width-2-6
					.mdl-textfield.mdl-js-textfield.mdl-textfield--contrast.uk-width-1-1.mdl-textfield--has-icon
						input#mdl-input-1-2-input.mdl-textfield__input.text-uppercase(type='text', value='#03a9f4')
						label.mdl-textfield__label(for='mdl-input-1-2-input') Tag2 color
						span.mdl-textfield__suffix(style="color:#03a9f4;")
							i.mdi.mdi-checkbox-blank
			button.mdl-button.mdl-js-button.mdl-button--icon.mdl-js-ripple-effect.page__drawer-form-group-delete.mdl-button--contrast-muted
				i.mdi.mdi-close
		.page__drawer-form-group
			.uk-grid.page__drawer-grid
				.uk-width-4-6
					.mdl-textfield.mdl-js-textfield.mdl-textfield--contrast.uk-width-1-1
						input#mdl-input-2-1-input.mdl-textfield__input(type='text', value='Design')
						label.mdl-textfield__label(for='mdl-input-2-1-input') Tag3 name
				.uk-width-2-6
					.mdl-textfield.mdl-js-textfield.mdl-textfield--contrast.uk-width-1-1.mdl-textfield--has-icon
						input#mdl-input-2-2-input.mdl-textfield__input.text-uppercase(type='text', value='#9c27b0')
						label.mdl-textfield__label(for='mdl-input-2-2-input') Tag3 color
						span.mdl-textfield__suffix(style="color:#9c27b0;")
							i.mdi.mdi-checkbox-blank
			button.mdl-button.mdl-js-button.mdl-button--icon.mdl-js-ripple-effect.page__drawer-form-group-delete.mdl-button--contrast-muted
				i.mdi.mdi-close
		.page__drawer-form-group
			.uk-grid.page__drawer-grid
				.uk-width-4-6
					.mdl-textfield.mdl-js-textfield.mdl-textfield--contrast.uk-width-1-1
						input#mdl-input-3-1-input.mdl-textfield__input(type='text', value='Server')
						label.mdl-textfield__label(for='mdl-input-3-1-input') Tag4 name
				.uk-width-2-6
					.mdl-textfield.mdl-js-textfield.mdl-textfield--contrast.uk-width-1-1.mdl-textfield--has-icon
						input#mdl-input-3-2-input.mdl-textfield__input.text-uppercase(type='text', value='#9e9e9e')
						label.mdl-textfield__label(for='mdl-input-3-2-input') Tag4 color
						span.mdl-textfield__suffix(style="color:#9e9e9e;")
							i.mdi.mdi-checkbox-blank
			button.mdl-button.mdl-js-button.mdl-button--icon.mdl-js-ripple-effect.page__drawer-form-group-delete.mdl-button--contrast-muted
				i.mdi.mdi-close

	.page__drawer-form-line
		button.mdl-button.mdl-js-button.mdl-button--raised.uk-width-1-1.mdl-js-ripple-effect.mdl-button--contrast.mdl-shadow--none
			| Add one more
