header.mdl-layout__header.mdl-layout__header--transparent
	.mdl-layout__header-row
		.mdl-textfield.mdl-js-textfield.mdl-textfield--expandable.mdl-textfield--floating-label
			label.mdl-button.mdl-js-button.mdl-button--icon.mdl-button--colored-muted(for='header-input-search')
				i.mdi.mdi-magnify
			.mdl-textfield__expandable-holder
				input.mdl-textfield__input#header-input-search(type='text')
		.mdl-layout-spacer
		button.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--mini-fab.mdl-button--colored-avatar.mdl-js-ripple-effect.mdl-shadow--none
			i.mdi.mdi-account-plus
		a.mdl-avatar.mdl-avatar--mini(style="background-image:url('assets/images/uploads/avatar-mini.png')", href='')
		a.mdl-avatar.mdl-avatar--mini(style="background-image:url('assets/images/uploads/avatar-mini.png')", href='')
		a.mdl-avatar.mdl-avatar--mini(style="background-image:url('assets/images/uploads/avatar-mini.png')", href='')
		a.mdl-avatar.mdl-avatar--mini(style="background-image:url('assets/images/uploads/avatar-mini.png')", href='')
		button#header-menu-right.mdl-button.mdl-js-button.mdl-button--icon.mdl-js-ripple-effect
			i.mdi.mdi-dots-horizontal
