.mdl-list
  .mdl-list__group
    .mdl-list__item.mdl-list__item--title
      span.mdl-list__item-primary-content
        | Today
    .mdl-list__item
      span.mdl-list__item-label-outside.label.label--new New
      span.mdl-list__item-primary-content
        label.mdl-radio.mdl-js-radio.mdl-js-ripple-effect.mdl-list__item-radio(for='radio-1')
          input#radio-1.mdl-radio__input(type='radio')
          span.mdl-radio__label.hidden label1
        span
          | Create a company
      span.mdl-list__item-secondary-content
        a.mdl-avatar.mdl-list__item-avatar(href='')
        a.mdl-avatar.mdl-list__item-avatar(href='')
  .mdl-list__group
    .mdl-list__item.mdl-list__item--title
      span.mdl-list__item-primary-content
        | Tomorrow
    .mdl-list__item
      span.mdl-list__item-primary-content
        label.mdl-radio.mdl-js-radio.mdl-js-ripple-effect.mdl-list__item-radio(for='radio-2')
          input#radio-2.mdl-radio__input(type='radio')
          span.mdl-radio__label.hidden label2
        span
          | Call in barber shop
      span.mdl-list__item-secondary-content
        a.mdl-avatar.mdl-list__item-avatar(href='')
  .mdl-list__group
    .mdl-list__item.mdl-list__item--title
      span.mdl-list__item-primary-content
        | Friday
        small.mdl-list__item-date (09.06.2016)
    .mdl-list__item
      span.mdl-list__item-primary-content
        label.mdl-radio.mdl-js-radio.mdl-js-ripple-effect.mdl-list__item-radio(for='radio-3')
          input#radio-3.mdl-radio__input(type='radio')
          span.mdl-radio__label.hidden label3
        span
          | Earn a lot of money
      span.mdl-list__item-secondary-content
        a.mdl-avatar.mdl-list__item-avatar(href='')
        a.mdl-avatar.mdl-list__item-avatar(href='')
        a.mdl-avatar.mdl-list__item-avatar(href='')
        a.mdl-avatar.mdl-list__item-avatar(href='')
    .mdl-list__item
      span.mdl-list__item-primary-content
        label.mdl-radio.mdl-js-radio.mdl-js-ripple-effect.mdl-list__item-radio(for='radio-4')
          input#radio-4.mdl-radio__input(type='radio')
          span.mdl-radio__label.hidden label4
        span
          | Go to the shop
      span.mdl-list__item-secondary-content
        a.mdl-avatar.mdl-list__item-avatar(href='')
        a.mdl-avatar.mdl-list__item-avatar(href='')
