section.page__drawer-task
	.page__drawer-task-content
		| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dLorem ipsum dolor sit amet, consectetur adipisicing elit, sed dLorem ipsum dolor sit amet, consectetur adipisicing elit, sed d
	footer.page__drawer-task-footer
		section.page__drawer-task-footer-line
			| <span style="background-color:#03a9f4;" class="label label--custom-2">Web</span>
			| <span style="background-color:#4caf50;" class="label label--custom-1">HTML</span>
		section.page__drawer-task-footer-line
			.mdl-list.mdl-list--contrast
				.mdl-list__item
					span.mdl-list__item-primary-content
						span.mdl-list__item-avatar(style="background-image:url('assets/images/uploads/avatar.png');")
						| Harold Morton
		section.page__drawer-section
			h6 Assignee
			.swiper-container.swiper-container--assignee.swiper-container--contrast
				.swiper-wrapper
					.swiper-slide
						.mdl-list.mdl-list--contrast
							.mdl-list__item
								span.mdl-list__item-primary-content
									span.mdl-list__item-avatar(style="background-image:url('assets/images/uploads/avatar.png');")
									| Harold Morton
							.mdl-list__item
								span.mdl-list__item-primary-content
									span.mdl-list__item-avatar(style="background-image:url('assets/images/uploads/avatar.png');")
									| Roxie Newman
							.mdl-list__item
								span.mdl-list__item-primary-content
									span.mdl-list__item-avatar(style="background-image:url('assets/images/uploads/avatar.png');")
									| Georgia Jenkins
							.mdl-list__item
								span.mdl-list__item-primary-content
									span.mdl-list__item-avatar(style="background-image:url('assets/images/uploads/avatar.png');")
									| Frank Snyder
				.swiper-scrollbar
