.mdl-list.mdl-list--contrast.page__sidebar-list-header
  .mdl-list__item
    span.mdl-list__item-primary-content
      span.mdl-avatar.mdl-list__item-avatar(style="background-image:url('assets/images/uploads/avatar.png');")
      |	Trevor Reyes
.mdl-list.mdl-list--contrast.page__sidebar-list
  .mdl-list__item.mdl-list__item--title
    span.mdl-list__item-primary-content
      | Projects
    a.mdl-list__item-secondary-action(href='')
      i.mdi.mdi-plus
  a.mdl-list__item.mdl-list__item--active(href='#')
    span.mdl-list__item-primary-content
      | Private
    span.mdl-list__item-secondary-content
      span.mdl-list__item-secondary-count 8
  a.mdl-list__item(href='#')
    span.mdl-list__item-primary-content
      | Decode
    span.mdl-list__item-secondary-content
      span.label.label-new.mdl-list__item-secondary-label New
      span.mdl-list__item-secondary-count 25
  a.mdl-list__item(href='#')
    span.mdl-list__item-primary-content
      | <span>Family</span>
      i.mdi.mdi-account-outline.mdl-list__item-icon
    span.mdl-list__item-secondary-content
      span.mdl-list__item-secondary-count 3
  a.mdl-list__item(href='#')
    span.mdl-list__item-primary-content
      | Coolie
    span.mdl-list__item-secondary-content
      span.mdl-list__item-secondary-count 13
.mdl-list.mdl-list--contrast.page__sidebar-list
  .mdl-list__item.mdl-list__item--title
    span.mdl-list__item-primary-content
      | Priority
  a.mdl-list__item(href='#')
    span.mdl-list__item-primary-content
      i.mdi.mdi-checkbox-blank-circle-outline.mdl-list__item-icon.text-priority-level-1
      | Red
  a.mdl-list__item(href='#')
    span.mdl-list__item-primary-content
      i.mdi.mdi-checkbox-blank-circle-outline.mdl-list__item-icon.text-priority-level-2
      | Orange
  a.mdl-list__item(href='#')
    span.mdl-list__item-primary-content
      i.mdi.mdi-checkbox-blank-circle-outline.mdl-list__item-icon.text-priority-level-3
      | Yellow
  a.mdl-list__item(href='#')
    span.mdl-list__item-primary-content
      i.mdi.mdi-checkbox-blank-circle-outline.mdl-list__item-icon.text-priority-level-4
      | White
.mdl-list.mdl-list--contrast.page__sidebar-list.page__sidebar-list--tags
  .mdl-list__item.mdl-list__item--title
    span.mdl-list__item-primary-content
      | Project Tags
    a.mdl-list__item-secondary-action(href='')
      i.mdi.mdi-pencil
  a.mdl-list__item(href='#')
    span.mdl-list__item-primary-content
      span.label.label--custom-1(style="background-color:#4caf50;") HTML
  a.mdl-list__item(href='#')
    span.mdl-list__item-primary-content
      span.label.label--custom-2(style="background-color:#03a9f4;") Web
  a.mdl-list__item(href='#')
    span.mdl-list__item-primary-content
      span.label.label--custom-3(style="background-color:#9c27b0;") Design
  a.mdl-list__item(href='#')
    span.mdl-list__item-primary-content
      span.label.label--custom-4(style="background-color:#9e9e9e;") Server
.mdl-layout-spacer
.mdl-list.mdl-list--contrast.page__sidebar-list
  a.mdl-list__item(href='#')
    span.mdl-list__item-primary-content
      | Logout
